{% extends 'base.html' %}


{% block content %}


<div class="container-fluid card my-8 ">
    <h3>Here You see YOUR created posts!</h3>
    {% for entry in posts %}
    <a href="#!">
        {% if entry.image %}
        <img class="card-img-top "
                      src="{{ entry.image.url }}"
                      alt="..." width="50"/>
        {% endif %}
    </a>
    <div class="card-body">
        <div class="small text-muted">{{ entry.create_date}}</div>
        <h2 class="card-title"> {{ entry.title }}</h2>
        <p class="card-text">{{ entry.text }}</p>

    </div>
    <hr>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <a href="{% url 'post_update' entry.pk %}" class="btn w-50 m-3 btn-outline-secondary">Update</a>
       <a href="{% url 'post_delete' entry.pk %}" class="btn w-50 m-3 btn-danger">Delete</a>
    </div>
    {% endfor %}
</div>


{% endblock %}

