{% extends 'base.html' %}


 {% block webcontent %}




    <div class="col-sm-9">



      <h4><small>RECENT POSTS</small></h4>
       {% for entry in posts %}
      <hr>
      <h2>{{ entry.title }}</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by {{ entry.author.username }}, {{ entry.created_date }}</h5>
      <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
      <p>{{ entry.body }}</p>
      <br><br>
      {% endfor %}

    </div>


{% endblock %}